.columns-container{
  width: 100%;
  padding: var(--space-m) 0;
}

.section-column{
  display: grid;
  gap: var(--space-xl);
  grid-template-columns: 1fr 1fr;
}

.section-column .title{
  font-size: 1.75em;
  margin-top: var(--space-m);
}

.section-column .year{
  font-size: 1.4em;
  color: var(--red);
}

.section-column .column:nth-child(even) .title{
  color: var(--red)
}

.section-column .column:nth-child(even) .year{
  color: var(--black)
}

.section-column img{
  width:100%;
  max-width: 500px;
}


@media screen and (max-width:1200px){
  
  .columns-container .title{
    padding: var(--space-m);
  }

  .section-column {
    display: block;
  }
  .column{
    padding: var(--space-m);
  }
}