.columns-container{
  width: 100%;
  padding: 32px 0;
}

.section-column{
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  max-width: 1200px;
  margin: 0 auto;

}

.section-column h1{
  font-size: 1.75em;
  margin-top: 32px;
}

.section-column h2{
  font-size: 1.4em;
  color: var(--red);
}

.section-column .column:nth-child(even) h1{
  color: var(--red)
}

.section-column .column:nth-child(even) h2{
  color: var(--black)
}

.section-column img{
  width:100%;
  max-width: 500px;
}


@media screen and (max-width:1200px){
  
  .columns-container h1{
    padding: 32px;
  }

  .section-column {
    display: block;
  }
  .column{
    padding: 32px;
  }
}