.about{
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--space-m);
}
.about h1{
  color: var(--red);
  width: 100%;
  text-align: left;
  margin-bottom: var(--space-m);
}
.about p{
  text-align: left;
}

.about img{
  max-width:600px;
  width: 100%;
}