.about{
  min-height: 100vh;
  padding: var(--space-xl) var(--space-m);
  box-sizing: border-box;
  scroll-snap-align: start;
  text-align: left;
}

.about .title{
  color: var(--red);
  margin-bottom: var(--space-s);
}

.about-intro{
  font-size: 1.4em;
  max-width: 800px;
}

.about img{
  max-width:600px;
  width: 100%;
}
