.section {
  width: 100%;
  padding: var(--space-m) 0;
}

.section:nth-child(1){
  background-color: var(--white);
}
.section:nth-child(2){
  background-color: var(--blue);
  color: var(--white);
}
.section:nth-child(3){
  background-color: var(--black);
  color: var(--white);
}

.section .holder{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}

.section:nth-child(even) .holder{
  flex-direction: row;
}

.section .holder .content{
  flex: auto;
  width: 620px;
  text-align: left;
  padding: var(--space-xl) var(--space-m);
}

.section:nth-child(1) .btn{
  background-color: var(--pink);
  color: var(--white);
}

.section:nth-child(1) .title{
  color: var(--pink);
}

.section:nth-child(2) .btn{
  background-color: var(--melon);
  color: var(--white)
}

.section:nth-child(2) .title{
  color: var(--melon);
}

.section:nth-child(3) .btn{
  background-color: var(--yellow);
  color: var(--black)
}

.section:nth-child(3) .title{
  color: var(--yellow);
}

@media screen and (max-width:1200px){
  .section{
    padding: 0;
  }

  .section img{
    width: 100%;
  }
}