@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

    --yellow: #E1B627;
    --green: #2B643F;
    --red: #F04C32;
    --melon: #F5886F;
    --blue: #1F54A5;
    --black: #1F252B;
    --white: #DFDED7;
    --pink: #F27DAC;
    
    background-color: var(--white);
    color: var(--black);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1{
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}

h2{
  color: var(--blue);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 2em;
}

a{
  color: var(--red);
  text-decoration: underline;
}

a:hover{
  color: var(--pink);
}

img{
  object-fit: contain;
}