

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  a:hover {
    color: var(--red);
  }
  button {
    background-color: var(--white);
  }
}

